In [1]:
import csv
import pandas as pd

In [29]:
pilkades_df = pd.read_csv('data/Pilkades2022.csv', sep=';')
pilkades_df.head(3)

  Kabupaten Kecamatan          Desa Tanggal Pilkades Status
0    Batang    Bandar  PucangGading       29/05/2022  Sudah
1    Batang    Bandar        Sidayu       29/05/2022  Sudah
2    Batang    Bandar         Candi       29/05/2022  Sudah

In [30]:
pilkades_df.rename(columns={'Kabupaten':'nama_kab', 'Kecamatan':'nama_kec','Desa':'nama_desa'}, inplace=True)
pilkades_df[['nama_kab', 'nama_kec', 'nama_desa']] = pilkades_df[['nama_kab', 'nama_kec', 'nama_desa']].astype(str).apply(lambda col: col.str.upper())
pilkades_df

    nama_kab    nama_kec      nama_desa Tanggal Pilkades               Status
0     BATANG      BANDAR   PUCANGGADING       29/05/2022                Sudah
1     BATANG      BANDAR         SIDAYU       29/05/2022                Sudah
2     BATANG      BANDAR          CANDI       29/05/2022                Sudah
3     BATANG  BANYUPUTIH        BANARAN       29/05/2022                Sudah
4     BATANG      BATANG   CEPOKOKUNING       29/05/2022                Sudah
..       ...         ...            ...              ...                  ...
462   SRAGEN      PLUPUH  GENTANBANARAN       20/07/2022  Pilkades Antarwaktu
463   SRAGEN        MIRI      GIRIMARGO       20/07/2022  Pilkades Antarwaktu
464   SRAGEN    KEDAWUNG       JENGGRIK       20/07/2022  Pilkades Antarwaktu
465   SRAGEN     GONDANG      GLONGGONG       20/07/2022  Pilkades Antarwaktu
466   SRAGEN   SIDOHARJO      SINGOPADU       20/07/2022  Pilkades Antarwaktu

[467 rows x 5 columns]

In [ ]:
pilkades_df.info()

In [23]:
desa_id = pd.read_csv('data/idwilayah.csv', dtype='str')
desa_id = desa_id[desa_id['nama_provinsi']=='JAWA TENGAH']
desa_id['nama_kab'] = desa_id['nama_kab'].str.replace('KAB. ', '')
desa_id.head(3)

,kode_prov,nama_provinsi,kode_kab,nama_kab,kode_kec,nama_kec,kdwilayah,nama_desa
31791,33,JAWA TENGAH,3301,KAB. CILACAP,3301010,DAYEUHLUHUR,3301010001,PANULISAN BARAT
31792,33,JAWA TENGAH,3301,KAB. CILACAP,3301010,DAYEUHLUHUR,3301010002,PANULISAN
31793,33,JAWA TENGAH,3301,KAB. CILACAP,3301010,DAYEUHLUHUR,3301010003,PANULISAN TIMUR

In [24]:
# desa_id.rename(columns={'nama_provinsi':'prov', 'nama_pemda':'kab', 'nama_desa':'desa'}, inplace=True)

desa_id

C:\Users\niam\AppData\Local\Temp\ipykernel_11268\3947065968.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  desa_id['nama_kab'] = desa_id['nama_kab'].str.replace('KAB. ', '')

,kode_prov,nama_provinsi,kode_kab,nama_kab,kode_kec,nama_kec,kdwilayah,nama_desa
31791,33,JAWA TENGAH,3301,CILACAP,3301010,DAYEUHLUHUR,3301010001,PANULISAN BARAT
31792,33,JAWA TENGAH,3301,CILACAP,3301010,DAYEUHLUHUR,3301010002,PANULISAN
31793,33,JAWA TENGAH,3301,CILACAP,3301010,DAYEUHLUHUR,3301010003,PANULISAN TIMUR
31794,33,JAWA TENGAH,3301,CILACAP,3301010,DAYEUHLUHUR,3301010004,MATENGGENG
31795,33,JAWA TENGAH,3301,CILACAP,3301010,DAYEUHLUHUR,3301010005,CIWALEN
...,...,...,...,...,...,...,...,...
40378,33,JAWA TENGAH,3376,KOTA TEGAL,3376040,MARGADANA,3376040003,CABAWAN
40379,33,JAWA TENGAH,3376,KOTA TEGAL,3376040,MARGADANA,3376040004,MARGADANA
40380,33,JAWA TENGAH,3376,KOTA TEGAL,3376040,MARGADANA,3376040005,KALINYAMAT KULON
40381,33,JAWA TENGAH,3376,KOTA TEGAL,3376040,MARGADANA,3376040006,SUMURPANGGANG
40382,33,JAWA TENGAH,3376,KOTA TEGAL,3376040,MARGADANA,3376040007,PESURUNGAN LOR

In [31]:
df_merge = pilkades_df.merge(desa_id, how='left', on=['nama_kab', 'nama_kec', 'nama_desa'])
df_merge

,nama_kab,nama_kec,nama_desa,Tanggal Pilkades,Status,kode_prov,nama_provinsi,kode_kab,kode_kec,kdwilayah
0,BATANG,BANDAR,PUCANGGADING,29/05/2022,Sudah,33,JAWA TENGAH,3325,3325020,3325020013
1,BATANG,BANDAR,SIDAYU,29/05/2022,Sudah,33,JAWA TENGAH,3325,3325020,3325020005
2,BATANG,BANDAR,CANDI,29/05/2022,Sudah,33,JAWA TENGAH,3325,3325020,3325020012
3,BATANG,BANYUPUTIH,BANARAN,29/05/2022,Sudah,33,JAWA TENGAH,3325,3325081,3325081007
4,BATANG,BATANG,CEPOKOKUNING,29/05/2022,Sudah,33,JAWA TENGAH,3325,3325110,3325110002
...,...,...,...,...,...,...,...,...,...,...
462,SRAGEN,PLUPUH,GENTANBANARAN,20/07/2022,Pilkades Antarwaktu,33,JAWA TENGAH,3314,3314020,3314020013
463,SRAGEN,MIRI,GIRIMARGO,20/07/2022,Pilkades Antarwaktu,33,JAWA TENGAH,3314,3314140,3314140004
464,SRAGEN,KEDAWUNG,JENGGRIK,20/07/2022,Pilkades Antarwaktu,33,JAWA TENGAH,3314,3314040,3314040003
465,SRAGEN,GONDANG,GLONGGONG,20/07/2022,Pilkades Antarwaktu,33,JAWA TENGAH,3314,3314060,3314060004
466,SRAGEN,SIDOHARJO,SINGOPADU,20/07/2022,Pilkades Antarwaktu,33,JAWA TENGAH,3314,3314110,3314110007

In [32]:
df_merge[df_merge['kdwilayah'].isnull()]

,nama_kab,nama_kec,nama_desa,Tanggal Pilkades,Status,kode_prov,nama_provinsi,kode_kab,kode_kec,kdwilayah
91,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
92,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
93,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
94,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
95,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
96,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
97,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
98,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
99,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
100,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
101,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
102,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
103,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
104,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
105,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
106,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
107,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
108,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
109,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
110,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
111,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
112,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
113,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
114,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
115,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
116,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
117,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN
118,CILACAP,NAN,NAN,NaN,Sudah,NaN,NaN,NaN,NaN,NaN

In [26]:
len(pilkades_df['nama_kab'].unique())

11

In [35]:
len(df_merge['nama_kec'].unique())

118

In [36]:
len(df_merge['nama_desa'].unique())

371

In [37]:
df_merge.to_csv('data/desa_pilkades_merged.csv')

In [34]:
df_merge.groupby(['nama_kab'])['nama_kec'].value_counts().sort_values(ascending=False)

nama_kab    nama_kec
DEMAK       SAYUNG          19
            GAJAH           17
            WONOSALAM       16
            MRANGGEN        14
            WEDUNG          14
                            ..
PEMALANG    RANDUDONGKAL     1
            TAMAN            1
            ULUJAMI          1
            WARUNGPRING      1
TEMANGGUNG  TRETEP           1
Name: nama_kec, Length: 118, dtype: int64